.userFilter {
  display: block;
}

.userFilter > span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial;
}

.userFilter input {
  padding: 10px;
  font-size: 14px;
  font-family: Arial;
  line-height: 16px;
}
